<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956664016655-a8qph5mv390pkg1njpal9g1uq7rl4hf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956664016655-a8qph5mv390pkg1njpal9g1uq7rl4hf4</string>
	<key>API_KEY</key>
	<string>AIzaSyD_LazYFg14N1UHzRxO31AeEpPOJXXtQ60</string>
	<key>GCM_SENDER_ID</key>
	<string>956664016655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JTech.barberApp</string>
	<key>PROJECT_ID</key>
	<string>barberapp-1081a</string>
	<key>STORAGE_BUCKET</key>
	<string>barberapp-1081a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956664016655:ios:41ddca6871fe4762</string>
	<key>DATABASE_URL</key>
	<string>https://barberapp-1081a.firebaseio.com</string>
</dict>
</plist>